<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TT_抽奖.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB4AC24D1CB5306C000B5625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB4AC2661CB5306C000B5625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB4AC2711CB5306C000B5625</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
